<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <mat-slide-toggle (ngModelChange)="onChange($event)" [(ngModel)]="isDarkThemeActive"></mat-slide-toggle>
        </mat-toolbar>
        <mat-nav-list>
            <li [routerLinkActive]="'active'"><a mat-list-item [routerLink]="['home']">Home</a></li>
            <li [routerLinkActive]="'active'"><a mat-list-item [routerLink]="['user']">User</a></li>
            <!-- <a mat-list-item href="#">Link 3</a> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Github Searcher Test</span>
        </mat-toolbar>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>