<div class="content">
    <div class="spacer"></div>
    <h1>Search an user:</h1>
    <div class="spacer"></div>

    <div class="center">
        <app-user-table></app-user-table>
        <!-- <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-icon aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon>
                 <mat-label>Favorite food</mat-label> 
                <input class="search" matInput placeholder="" value="">

            </mat-form-field>
        </form> -->

        <!-- <form action="example-form">
            <mat-form-field class="example-full-width">

                <mat-label>
                    <mat-icon aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon>
                    Username</mat-label>
                <input type="text" matInput name="search" placeholder="Legwion" [(ngModel)]="searchBar">
            </mat-form-field>
            <button type="submit" action="example-form"> Send</button>
        </form>

        <p>{{searchBar}}</p> -->


        <!-- <form [formGroup]="searchForm" (ngSubmit)="sendUser()">
            <label for=""> Username </label>
            <input type="text" name="" id="" formControlName="username">

            <button class="btn btn-primary" [disabled]="!this.searchForm.valid">
             Search 
            </button>
        </form>

    </div> -->

        <!-- <p>home works!</p> -->
    </div>